table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);

}

table thead tr th {
  background-color: #1C4E80;
  color: #fff;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  transition: all .05s ease-in;
  cursor: pointer;
}

table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

table tbody tr:hover {
  background-color: #A5D8DD;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table td.highlight {
  color: #1C4E80;
  font-weight: bold;
}

table td.warning {
  color: #F44336;
  font-weight: bold;
}

@media (max-width: 1142px) {
  table thead {
    display: none;
  }

  table tbody tr {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }

  table thead th:before ,
  table tbody td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
  }
  #main_content {
    max-width: 100%;
  }

  #searchbar {
    flex-direction: column;
  }

  #search,
  #key {
    width: 100%;
    margin-bottom: 10px;
  }

  #table td {
    display: block;
    text-align: left;
    border: none;
  }

  .status {
    all: revert;
  }

  .float-right{
    display: none;
}


}

#search {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#key,
#sort {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  background-color: #1C4E80;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #133A94;
}

form {
  display: inline-block;
}


#table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  min-width: none;
}

#searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.title{
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

#mainheader{
  background-color: #013220;
  color: #fff;
}
.status {
  padding: .4rem;
  border-radius: 2rem;
  text-align: center;
}
.status.completed {
  background-color: #86e49d;
  color: #006b21;
}
.status.ongoing {
  background-color: lightblue;
}

.status.pending {
  background-color: #ebc474;
}
.i{
  align-content: center;
}

