form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;

    padding: 20px;

    /* adjust form border */
    border-radius: 10px;
    border-spacing: 0;
    border: 2px solid #ccc;
    overflow: hidden;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

button {
    background-color: #1C4E80;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    float: right;
    align-self: flex-end;
}

button:hover {
    background-color: burlywood;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

select {
    padding: 12px;
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    margin-bottom: 10px;
}

select:hover,
select:focus {
    border-color: #999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#search_div {
    display: block;
}

#found_div {
    display: block;
}

#check_div {
    display: none;
}

#reserve_div {
    display: none;
}

.input-checkbox {
    display: flex;
    align-items: center;
}

.input-checkbox input[type="checkbox"] {
    margin-left: 10px;
    margin-bottom: 0;
    width: 16px;
}